#createNoticeDiv{
    width: 320px;
    height: 558px;
    border: 1px solid #cdcddc;
    position: absolute !important;
    background: white;
    z-index: 100000;
    box-shadow: rgb(136, 136, 136) -1px 1px 5px 2px;
    padding: 1%;
    left: 30%;
    display: none;
    top: 7%;
    /* margin-left: 200px; */
    left: 36%;
	margin-top:34px;

}
.pollquestion{
font-size: 15px;
    font-weight: bold;
    float: left !important;
    padding: 5px;
}
.polloptions{

    font-size: 16px;
    margin-left: 2%;
    font-weight: 500;
}
.background_Android_Image
{
	
width: 172%;
    margin-left: -71px;
    margin-top: -76px;
    margin-right: 46px;	
}
.androidContentTab
{
	    position: absolute;
    top: 36px;
    background: #ffffff;
    margin-left: -50px;
    /* border-radius: 2%; */
    margin-top: 21.6%;
    width: 185px;
    height: 347px;
    /* border: 1px solid #dcdcdc; */
    /* box-shadow: -1px 1px 5px 2px #888888; */
}

.closebtn
{margin-left:265px;}

.androidImage{width: 229px;
    margin-top: 0px;
    height: 544px;
    margin-left: -2px;}











