
/*news preview*/
.NewsPriviewtitle{

    margin-top: 10px;

}

.previewAuthor{

       /*padding-top: 10px;*/
    padding-left: 6px;

}

.previewContent{

}
.previewImage{
margin-top:-22px !important;
}

.date{
font-size:11px;
color:gray;
margin-left:10px;
}
.PriviewcontentDiscription{font-weight:normal !important;}